article.infrastructure#power
    .infrastructure-container.container
        .infrastructure_image__wrapper
            img.infrastructure_image(src="@images/infrastructures/power.png", alt="")
        .infrastructure-content
            h2.infrastructure_title Электроснабжение
            .infrastructure-filling
                p.infrastructure_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-list
                    li.infrastructure-list_enumeration Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-list_enumeration Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-list_enumeration кабельных сетей
                    li.infrastructure-list_enumeration объектов микрогенерации
                    li.infrastructure-list_enumeration систем интеллектуального учета электроэнергии
                    li.infrastructure-list_enumeration систем автоматизации
                    li.infrastructure-list_enumeration современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности  и экономической эффективности

article.infrastructure#gas
    .infrastructure-container.container
        .infrastructure_image__wrapper
            img.infrastructure_image(src="@images/infrastructures/gas.png", alt="")
        .infrastructure-content
            h2.infrastructure_title Газоснабжение
            .infrastructure-filling
                p.infrastructure_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-list
                    li.infrastructure-list_enumeration Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-list_enumeration Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-list_enumeration кабельных сетей
                    li.infrastructure-list_enumeration объектов микрогенерации
                    li.infrastructure-list_enumeration систем интеллектуального учета электроэнергии
                    li.infrastructure-list_enumeration систем автоматизации
                    li.infrastructure-list_enumeration современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности  и экономической эффективности

article.infrastructure#communication
    .infrastructure-container.container
        .infrastructure_image__wrapper
            img.infrastructure_image(src="@images/infrastructures/communication.png", alt="")
        .infrastructure-content
            h2.infrastructure_title Системы связи
            .infrastructure-filling
                p.infrastructure_text Проектирование полного цикла электрификации 110-0,4 кВ от объектов Электросетевых компаний до принимающих устройств Заявителя
                ul.infrastructure-list
                    li.infrastructure-list_enumeration Электрических трансформаторных подстанций, открытых и закрытых распределительных устройств
                    li.infrastructure-list_enumeration Линейных объектов на базе металлических, многогранных и композитных опор
                    li.infrastructure-list_enumeration кабельных сетей
                    li.infrastructure-list_enumeration объектов микрогенерации
                    li.infrastructure-list_enumeration систем интеллектуального учета электроэнергии
                    li.infrastructure-list_enumeration систем автоматизации
                    li.infrastructure-list_enumeration современных цифровых систем мониторинга и управления энергообъектом
                p.infrastructure_text Применяемые решения на современном оборудовании, изделиях и материалах в полном соответствии требованиям нормативных документов и политик компаний в области энергосбережения, энергоэффективности, экологичности  и экономической эффективности

