main.main
    .main-container.container
        .main-header
            h1.main_title Проектирование инфраструктур
            p.main_subtitle Проектирование инфраструктур любой сложности с максимальной ответственностью
            ul.main-controls
                li.main-controls-li
                    button.main-control.button.button--blue(data-name="power_supply") Электроснабжение
                li.main-controls-li
                    button.main-control.button.button--blue(data-name="gas_supply") Газоснабжение
                li.main-controls-li
                    button.main-control.button.button--blue(data-name="communication_system") Системы связи
        .main_image__wrapper
            img.main_image(src="@images/home.png", alt="")
        .main-cards
            .main-card
                .main-card_number
                p.main-card_text Более
                    b  1000
                    br
                    |  разработанных проектов
            .main-card
                .main-card_number
                p.main-card_text Более
                    b  10
                    br
                    |  специализированных отделов
            .main-card
                .main-card_number
                p.main-card_text Выдача согласованной документации полным пакетом с лицензиями, разрешениями и допусками
            .main-card
                .main-card_number
                p.main-card_text Весь комплекс предпроектных и проектных работ, авторского надзора в соответствии с существующими требованиями РФ
            .main-card
                .main-card_number
                p.main-card_text Выполнение работ в установленные сроки благодаря интеллектуальным программным решениям контроля и оптимизации процессов
