.partners
    .partners-container.container
        h2.partners_title Наши партёры
        ul.partners-list
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
            li.partners-list_enumeration
                .partner_logo__wrapper
                    img.partner_logo(src="@images/partners/partner.svg", alt="")
