.address {
    flex-direction: column;
    font-style: normal;
    font-size: $address_font-size;
    font-weight: medium;
    text-align: right;
    @include mediaQuery($breakpoint-sm) {
        display: none;
    }
    @include mediaQuery($breakpoint-sm) {
        display: block;
    }
}
