.address {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    font-weight: 600;
    text-align: right;
    @include mediaQueryMax($breakpoint-lg) {
        flex-direction: row;
    }
    &_phone {
        padding: 5px;
        display: block;
        @include mediaQueryMax($breakpoint-sm) {
            position: absolute;
            bottom: -10px; left: 10px;
        }
    }
}
