/* Frequent classes */

.container {
    margin: 0 auto;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
.button {
    padding: 18px 32px;
    display: block;
    border: 1px solid $GRAY;
    border-radius: 30px;
    background-color: white;
    transition: all .2s linear;

    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $GRAY;

    &:hover {
        cursor: pointer;
        color: $BLUE;
        border-color: $DARK;
    }
    &:active {
        background-color: $LIGHNT_BLUE;
    }
    &.button--blue {
        @include mediaQuery($breakpoint-lg) {
            color: white;
            background-color: $BLUE;
            border-color: $BLUE;
        }
        &:hover {
            background-color: white;
            color: inherit
        }
    }
}
