.header {
    &-container {
        padding: $header_padding;
        display: flex;
        justify-content: space-between;
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mediaQuery($breakpoint-xs) {
            gap: 0;
            flex-direction: column;
        }
        @include mediaQuery($breakpoint-lg) {
            gap: 116px;
            flex-direction: row;
        }
    }
    .address_email {
        display: none;
    }
}
