.infrastructure {
    margin-top: 40px;
    &-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    @include mediaQuery($breakpoint-sm) {
        &-container {
            // align-items: stretch;
            flex-direction: column;
        }
    }
    @include mediaQuery($breakpoint-lg) {
        &-container {
            flex-direction: row;
            align-items: center;
        }
        &:nth-child(2n + 1) {
            .infrastructure-container {
                flex-direction: row-reverse;
            }
        }
    }
    &_image {
        &__wrapper {
            position: relative;
            display: flex;
            height: 600px;
            @include mediaQuery($breakpoint-sm) {
                flex: 40%;
                overflow: hidden;
            }
            @include mediaQuery($breakpoint-lg) {
                // transform: translateY(-50%);
                flex: 50%;
                aspect-ratio: 950 / 600;
            }
        }
        position: absolute;
        object-fit: contain;
        @include mediaQuery($breakpoint-sm) {
            top: 50%; left: -140px;
            transform: translateY(-50%);
            width: auto; height: 100%;
        }
        @include mediaQuery($breakpoint-xl) {
            top: 0; left: 0;
            transform: translateY(0);
            width: 100%; height: 100%;
        }
    }
    &-content {
        @include mediaQuery($breakpoint-sm) {
            flex: 60%;
        }
        @include mediaQuery($breakpoint-xl) {
            flex: 50%;
        }
    }
    &_title {
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 600;
    }
    &-filling {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &_enumeration {
            margin-left: 50px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 6px); left: -30px;
                width: 12px; height: 12px;
                border-radius: 50%;
                background-color: $BLUE;
            }
        }
    }
}
