.main {
    padding: 73px 0;
    &-container {
        position: relative;
    }
    &-header {
        margin-bottom: 40px;
    }
    &_title {
        margin-bottom: 23px;
        width: 450px;
        font-weight: 600;
        line-height: 48px;
        @include mediaQuery($breakpoint-xs) {
            width: 80%;
            font-size: 40px;
        }
        @include mediaQuery($breakpoint-md) {
            font-size: 40px;
        }
        @include mediaQuery($breakpoint-lg) {
            font-size: 48px;
            // width: 100%;
        }
        @include mediaQuery($breakpoint-xl) {
            // width: 100%;
        }
    }
    &_subtitle {
        margin-bottom: 38px;
        width: 450px;
        @include mediaQuery($breakpoint-xs) {
            width: 35%;
        }
    }
    &-controls {
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
        @include mediaQuery($breakpoint-xs) {
            flex-direction: column;
        }
        @include mediaQuery($breakpoint-xxl) {
            flex-direction: row;
        }
    }
    &-control {
        @include mediaQuery($breakpoint-xs) {
            position: relative;
            width: 100%;
            background-color: #fff;
            color: $DARK;
            display: flex;
            justify-content: end;
            &--state {
                position: static;
                aspect-ratio: 1256 / 755;
                width: 60%;
                margin-right: -30px;
            }
            p {
                position: absolute;
                top: 18px; left: 32px;
            }
        }
        @include mediaQuery($breakpoint-lg) {
            width: auto;
            p {
                position: static;
            }
        }
    }
    &_image {
        &__wrapper {
            position: absolute;
            z-index: -1;
            top: -30px; right: -50px;
            // top: 0; right: 0;
            aspect-ratio: 1256 / 755;
            height: 650px;
            transition: all .2s linear;
            opacity: 1;
            &.clear {
                opacity: .1;
            }
            @include mediaQuery($breakpoint-xs) {
                top: 100px; right: 10px;
                height: 150px;
            }
            @include mediaQuery($breakpoint-sm) {
                top: 30px; right: -10px;
                height: 230px;
            }
            @include mediaQuery($breakpoint-lg) {
                top: 40px;
                height: 400px;
            }
            @include mediaQuery($breakpoint-xl) {
                top: 30px;
                height: 600px;
            }
            @include mediaQuery(1600px) {
                top: -84px;
                height: 700px;
            }
            @include mediaQuery(1950px) {
                top: -84px;
                height: 755px;
            }
        }
        &, &--state {
            position: absolute;
            visibility: hidden;
            top: 0; left: 0;
            width: 100%; height: 100%;
            &.visible {
                visibility: visible;
            }
        }
    }
    &-cards {
        display: grid;
        grid-template-rows: 1fr;
        @include mediaQuery($breakpoint-xs) {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "A B"
                "C D"
                "E E"
            ;
        }
        @include mediaQuery($breakpoint-xl) {
            gap: 18px;
            grid-template-areas:
                "A . ."
                "B . ."
                "C D E"
            ;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &-card {
        position: relative;
        border: 1px solid $DARK;
        border-radius: 30px;
        overflow: hidden;
        background-color: #fff;

        font-weight: 600;
        @include mediaQuery($breakpoint-xs) {
            padding: 10px 15px;
            font-size: 100%;
        }
        @include mediaQuery($breakpoint-md) {
            padding: 22px 30px;
        }
        @include mediaQuery($breakpoint-xl) {
            font-size: 115%;
        }
        &_text {
            position: relative;
            z-index: 1000;
            b {
                display: inline;
                font-weight: 700;
                @include mediaQuery($breakpoint-xs) {
                    font-size: 25px;
                }
                @include mediaQuery($breakpoint-md) {
                    font-size: 38px;
                }
            }
        }
        &:nth-child(1) {
            grid-area: A;
        }
        &:nth-child(2) {
            grid-area: B;
        }
        &:nth-child(3) {
            grid-area: C;
        }
        &:nth-child(4) {
            grid-area: D;
        }
        &:nth-child(5) {
            grid-area: E;
        }
        &_number {
            position: absolute;
            bottom: -40px; left: -30px;
            z-index: 100;
            font-size: 120px;
            line-height: 120px;
            font-weight: 900;
            color: rgba($LIGHNT_BLUE, .5);
        }
    }
}
