.main {
    padding: 73px 0;
    &-container {
        position: relative;
    }
    &-header {
        margin-bottom: 40px;
    }
    &_title {
        margin-bottom: 23px;
        width: 450px;
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
        @include mediaQuery($breakpoint-lg) {
            width: 100%;
        }
        @include mediaQuery($breakpoint-xl) {
            width: 100%;
        }
    }
    &_subtitle {
        margin-bottom: 38px;
        width: 450px;
        font-size: 18px;
    }
    &-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        @include mediaQuery($breakpoint-lg) {
            flex-direction: column;
        }
        @include mediaQuery($breakpoint-xxl) {
            flex-direction: row;
        }
    }
    &_image {
        &__wrapper {
            position: absolute;
            z-index: -1;
            top: -30px; right: -50px;
            // top: 0; right: 0;
            aspect-ratio: 1256 / 755;
            height: 650px;
            transition: all .2s linear;
            opacity: 1;
            &.clear {
                opacity: .1;
            }
            @include mediaQuery($breakpoint-lg) {
                top: 40px;
                height: 400px;
            }
            @include mediaQuery($breakpoint-xl) {
                top: 30px;
                height: 600px;
            }
            @include mediaQuery(1600px) {
                top: -84px;
                height: 700px;
            }
            @include mediaQuery(1950px) {
                top: -84px;
                height: 755px;
            }
        }
        &, &--state {
            position: absolute;
            visibility: hidden;
            top: 0; left: 0;
            width: 100%; height: 100%;
            &.visible {
                visibility: visible;
            }
        }
    }
    &-cards {
        display: grid;
        grid-template-rows: 1fr;
        gap: 18px;
        @include mediaQuery($breakpoint-xl) {
            grid-template-areas:
                "A . ."
                "B . ."
                "C D E"
            ;
            grid-template-columns: repeat(3, 1fr);
        }
        @include mediaQuery($breakpoint-lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "A ."
            "B C"
            "D E"
        ;
        }
    }
    &-card {
        position: relative;
        padding: 22px 30px;
        border: 1px solid $DARK;
        border-radius: 30px;
        overflow: hidden;
        background-color: #fff;

        font-size: 21px;
        font-weight: 600;
        @include mediaQuery($breakpoint-xl) {
            font-size: 18px;
        }
        &_text {
            position: relative;
            z-index: 1000;
            b {
                display: inline;
                font-size: 38px;
                font-weight: 700;
            }
        }
        &:nth-child(1) {
            grid-area: A;
        }
        &:nth-child(2) {
            grid-area: B;
        }
        &:nth-child(3) {
            grid-area: C;
        }
        &:nth-child(4) {
            grid-area: D;
        }
        &:nth-child(5) {
            grid-area: E;
        }
        &_number {
            position: absolute;
            bottom: -25%; left: -5%;
            z-index: 100;
            font-size: 120px;
            line-height: 120px;
            font-weight: 900;
            color: rgba($LIGHNT_BLUE, .5);
        }
    }
}
